# Backend
backend/src/**/bin/
backend/src/**/obj/
backend/**/*.user
backend/**/.vs/
backend/**/appsettings.Development.json
backend/publish/
backend/**/.deployment

# Frontend
frontend/**/node_modules/
frontend/**/dist/
frontend/**/.angular/

# IDE
.vscode/
.idea/
*.suo
*.ncrunch*
.DS_Store

# Build artifacts
*.dll
*.exe
*.pdb
*.zip

# Secrets
**/appsettings.Production.json
**/.env
**/*.pfx
**/*.p12
