<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">{{ 'MENU.DASHBOARD' | translate }}</span>
      </a>
    </div>
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ 'MENU.SECTION' | translate }}</span>
      </div>
    </div>

    <!-- Leagues -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/leagues" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="crown" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">{{ 'MENU.LEAGUES' | translate }}</span>
      </a>
    </div>

    <!-- WOD -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/wod" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="timer" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">{{ 'MENU.WOD' | translate }}</span>
      </a>
    </div>

    <!-- Strength -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/strength" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="weight" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">{{ 'MENU.STRENGTH' | translate }}</span>
      </a>
    </div>

    <!-- Profile -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/profile" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="profile-circle" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">{{ 'MENU.PROFILE' | translate }}</span>
      </a>
    </div>

    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Ayuda</span>
      </div>
    </div>

    <!-- Cómo funciona -->
    <div class="menu-item">
      <a class="menu-link without-sub" href="/assets/docs/acknowledge.html" target="_blank">
        <span class="menu-icon">
          <app-keenicon name="information" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Cómo funciona</span>
      </a>
    </div>
  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
