<form class="form w-100" novalidate="novalidate" id="kt_login_signup_form" [formGroup]="registrationForm"
  (ngSubmit)="submit()">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <h1 class="text-gray-900 fw-bolder mb-3">
      {{ 'AUTH.REGISTER.TITLE' | translate }}
    </h1>
  </div>
  <!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        {{ 'AUTH.REGISTER.ERROR' | translate }}
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">{{ 'AUTH.FIELDS.FULLNAME' | translate }}</label>
    <input class="form-control bg-transparent" type="text" name="fullname" formControlName="fullname"
      [placeholder]="'AUTH.FIELDS.FULLNAME' | translate" autocomplete="off" [ngClass]="{
        'is-invalid': registrationForm.controls['fullname'].invalid,
        'is-valid': registrationForm.controls['fullname'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'AUTH.VALIDATION.FULLNAME_REQUIRED',
        control: registrationForm.controls['fullname']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'AUTH.VALIDATION.FULLNAME_MIN',
        control: registrationForm.controls['fullname']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'AUTH.VALIDATION.FULLNAME_MAX',
        control: registrationForm.controls['fullname']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">{{ 'AUTH.FIELDS.EMAIL' | translate }}</label>
    <input class="form-control bg-transparent" type="email" [placeholder]="'AUTH.FIELDS.EMAIL' | translate" name="email" formControlName="email"
      autocomplete="off" [ngClass]="{
        'is-invalid': registrationForm.controls['email'].invalid,
        'is-valid': registrationForm.controls['email'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'AUTH.VALIDATION.EMAIL_REQUIRED',
        control: registrationForm.controls['email']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'AUTH.VALIDATION.EMAIL_INVALID',
        control: registrationForm.controls['email']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'AUTH.VALIDATION.EMAIL_MIN',
        control: registrationForm.controls['email']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'AUTH.VALIDATION.EMAIL_MAX',
        control: registrationForm.controls['email']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">{{ 'AUTH.FIELDS.PASSWORD' | translate }}</label>
    <input class="form-control bg-transparent" type="password" [placeholder]="'AUTH.FIELDS.PASSWORD' | translate" name="password"
      formControlName="password" autocomplete="off" [ngClass]="{
        'is-invalid': registrationForm.controls['password'].invalid,
        'is-valid': registrationForm.controls['password'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'AUTH.VALIDATION.PASSWORD_REQUIRED',
        control: registrationForm.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'AUTH.VALIDATION.PASSWORD_MIN',
        control: registrationForm.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'AUTH.VALIDATION.PASSWORD_MAX',
        control: registrationForm.controls['password']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">{{ 'AUTH.FIELDS.CONFIRM_PASSWORD' | translate }}</label>
    <input class="form-control bg-transparent" type="password" [placeholder]="'AUTH.FIELDS.CONFIRM_PASSWORD' | translate" name="cPassword"
      autocomplete="off" formControlName="cPassword" [ngClass]="{
        'is-invalid': registrationForm.controls['cPassword'].invalid,
        'is-valid': registrationForm.controls['cPassword'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'AUTH.VALIDATION.CONFIRM_REQUIRED',
        control: registrationForm.controls['cPassword']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'AUTH.VALIDATION.CONFIRM_MIN',
        control: registrationForm.controls['cPassword']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'AUTH.VALIDATION.CONFIRM_MAX',
        control: registrationForm.controls['cPassword']
      }"></ng-container>
    <ng-container *ngIf="
        registrationForm.controls['cPassword'].errors &&
        registrationForm.controls['cPassword'].errors.ConfirmPassword
      ">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          {{ 'AUTH.REGISTER.PASSWORDS_MISMATCH' | translate }}
        </div>
      </div>
    </ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-check form-check-inline">
      <input id="kt_login_toc_agree" type="checkbox" formControlName="agree" name="agree" class="form-check-input" />
      <span for="kt_login_toc_agree" class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
        {{ 'AUTH.REGISTER.ACCEPT_TERMS_PREFIX' | translate }}&nbsp;<a href="https://keenthemes.com/metronic/?page=faq" target="_blank"
          class="ms-1 link-primary">{{ 'AUTH.REGISTER.ACCEPT_TERMS_LINK' | translate }}</a>.
      </span>
    </label>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_up_submit" [disabled]="
        registrationForm.invalid || !registrationForm.controls['agree'].value
      " class="btn btn-primary">
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">{{ 'AUTH.REGISTER.SUBMIT' | translate }}</span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          {{ 'COMMON.PLEASE_WAIT' | translate }}
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
  </div>
  <!--end::Form group-->

  <!--begin::Sign in link-->
  <div class="text-gray-500 text-center fw-semibold fs-6">
    {{ 'AUTH.REGISTER.HAVE_ACCOUNT' | translate }}
    <a routerLink="/auth/login" class="link-primary fw-semibold">
      {{ 'AUTH.REGISTER.LOGIN_LINK' | translate }}
    </a>
  </div>
  <!--end::Sign in link-->

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message | translate }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
